/* Eric Leverich CSS */

body {background-color: #9F7527;}

    font-family: "Lato", sans-serif;
}

	
	
/* Link bar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FEC863;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

div.toppic {
    position: static;
    border: 3px solid #BF7D01;
	height: 200px;
    width: 50%;
}
img {
position: absolute;
right: 0px;
   
    z-index: -1;}

 h1 { font-size: 600%; }