/* Eric Leverich CSS */

body {background-color: #ffffff;}

    font-family: "Lato", sans-serif;
}

 .grid {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-gap: 1em;
}

header, footer {
  grid-column: 1 / 4;
	overflow: auto;
}

@media all and (max-width: 700px) {
  aside,
  article {
    grid-column: 1 / 4;
  }
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}


aside,
article,
footer {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
}
.navigation {
	float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	color: #000000;
	font-size: 2em;

}

li {
    float: left;
		vertical-align: middle;   

}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 16px;
    text-decoration: none;
	
}

li a:hover {
    background-color: #f0f0f0;
}
.logo  > img{ 
    vertical-align: middle;   
    float: left;
}
header {

    
}
.hero { clear: all;
        width: 100%;
		}